* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 60%;
  height: 50px;
  background-color: darkgray;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  border-radius: 1px;
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 6px;
  align-items: center;
}

nav {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  background: rgb(255, 255, 255);
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 0 0;
}

nav input[type='radio'] {
  display: none;
}

nav label {
  width: 17%;
  background-color: rgb(131, 131, 131);
  height: 80%;
  border-radius: 20px;
  text-align: center;
  font-size: 2em;
  color: rgb(221, 221, 221);
  font-family: monospace;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.459);
  height: 40px;
  line-height: 40px;
}

nav label:hover {
  transform: translateY(-2px);
  background-color: rgb(124, 124, 124);
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.486);
}

.unit:checked+label {
  background-color: rgb(77, 77, 77);
}

#space-of-calcul {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(138, 138, 138);
}

.operation-space {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  width: max;
}

.list-units-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

.unit-title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5em;
  color: white;
}

.units-input {
  background-color: aliceblue;
  border-radius: 3px;
  height: 45px;
  width: 100%;
  gap: 20px;
  border: none;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-units-container span:hover {
  filter: contrast(80%);
}

.list-units-container span label {
  cursor: pointer;
  background-color: rgb(99, 93, 93);
  font-size: 2.3em;
  padding: 9px;
  margin-top: 8px;
  border-radius: 30px;
  min-width: 55px;
  width: min-content;
  display: flex;
  justify-content: center;
  color: rgb(223, 223, 223);
  font-family: Georgia, 'Times New Roman', Times, serif
}

.radio-input[type="radio"] {
  display: none;
}

.radio-input:checked+label {
  background-color: rgb(255, 255, 255);
  color: rgb(100, 100, 100);
}

.from-to-container {
  padding: 20px;
  background: rgb(219, 219, 219);
  width: 520px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 250px;
}

h3 {
  font-family: Tahoma, sans-serif;
  font-size: 1.8em;
}

.from-input-container {
  display: flex;
  flex-direction: row;
}

.ruler-container img {
  width: 25px;
  top: 50%;
  /* Start at the vertical midpoint */
  right: 10px;
  /* Distance from the right edge */
  transform: translateY(-80%);
  /* Pulls the icon up by half its height to perfectly center it */
  font-size: 20px;
  /* Optional: Make it look like a button */
  cursor: pointer;
  right: 40px;
  margin-left: -35px;
  margin-bottom: -62px;
}

.title-container {
  display: flex;
  flex-direction: row;
  gap: 325px;
}

.title-container img {
  width: 25px;
  height: 25px;
}

header a {
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}